* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow: hidden;
  height: 100vh;
}

header {
  padding: 30px;
  height: 50px;
  background-color: #6e54b5;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: #2d3e50;
  color: #FDFEFE;
  padding: 5px;
}

nav li {
  margin-left: 30px;
}

/*-------------------------- Index --------------------------*/
.section {
  width: 100%;
  height: 100vh;
  transition: transform 0.7s ease-in-out;
}

#section1 {
  background-color: black;
  height: 100vh;
  color: #FDFEFE; 
}

#section1 h1 {
  font-size: 5.5em;
}

#section1 ul {
  background-color: #2d3e50;
}

#section1 li {
  background-color: #6756ff;
  transition: box-shadow 0.3s;
}

#section1 li:hover {
  box-shadow: #6756ff 0 2px 50px -2px;
}

#backgroundBox {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/bg-index.png");
  background-size: cover;
  height: 80%;
  padding: 22%;
  background-position: center;
}

#btnLogin {
  position: absolute;
  top: 20px;
  right: 40px; 
}

#section2 {
  background-color: #2196F3;
}

#section3 {
  background-color: #FF5722;
}

.newSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*----------------------------------------------------*/

.perfil_icon {
  font-size: 50px;
}

#btnModal:hover{
  background-color: #34495E;
  color: #FDFEFE;
}

.logo_page {
  font-size: 3em;
}


main {
  height: 100vh;
  width: 100%;
}

.sideBar {
  height: 100vh;
  background-color: #34495E;
  color: white;
}

.sideBar li {
  margin-top: 10px;
}

.feed {
  /* overflow-y: auto; */
  height: 100vh;
  background-color: #FDFEFE;  
}

.modal-header{
  background-color: #6e54b5;
}

.submitModal{
  background-color: #6e54b5;
  color: white;
}

.newThreadBtn {
  background-color: #34495E;
  color: white;
  margin-top: 20px;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  left: 90%;
  top: 80%;
}

.newThreadBtn:hover {
  background-color: #6e54b5;
  color: #FDFEFE;
}