html {
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  padding: 30px;
  height: 100px;
  background-color: #6e54b5;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.perfil_icon {
  font-size: 50px;
}

#btnModal:hover{
  background-color: #34495E;
  color: #FDFEFE;
}

.logo_page {
  font-size: 3em;
}


main {
  height: 100vh;
  width: 100%;
}

footer {
  height: 100px;
  padding: 10px;
  background-color: black;
  text-align: center;
  color: white;
}

.sideBar {
  height: 100vh;
  background-color: #34495E;
  color: white;
}

.sideBar li {
  margin-top: 10px;
}

.feed {
  /* overflow-y: auto; */
  height: 100vh;
  background-color: #FDFEFE;  
}

.modal-header{
  background-color: #6e54b5;
}

.submitModal{
  background-color: #6e54b5;
  color: white;
}

.newThreadBtn {
  background-color: #34495E;
  color: white;
  margin-top: 20px;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  left: 90%;
  top: 80%;
}

.newThreadBtn:hover {
  background-color: #6e54b5;
  color: #FDFEFE;
}