<header>
  <a href="{{ url_for('index') }}"><i class="fa-solid fa-earth-americas logo_page"></i></a>
  <h1 class="fs-2">4 Nerds</h1>
  <div class="flex items-center space-x-4">
    {% if current_user.is_authenticated %}
    <button id="btnModal" type="button" class="btn btn-light font-semibold py-2 px-4 rounded" data-bs-toggle="modal" data-bs-target="#newThreadModal">
      Criar Thread
    </button>
    <a href="{{ url_for('perfil') }}" class="text-gray-300 hover:text-white">
      <i class="fa-regular fa-user perfil_icon text-xl"></i>
    </a>
    {% else %}
    <a href="{{ url_for('signin') }}" class="bg-white text-gray-800 font-semibold py-2 px-4 rounded hover:bg-gray-200 transition">
      <i class="fa-solid fa-user"></i> Entrar
    </a>
    {% endif %}
  </div>
</header>
<nav class="d-flex justify-content-between">
  <ul class="row w-100 m-auto">
    <li class="fs-6 col"><a href="{{ url_for('subforum_index', name='Games')}}"><i class="fa-solid fa-gamepad me-2"></i>Games</a></li>
    <li class="fs-6 col"><a href="{{ url_for('subforum_index', name='Anime')}}"><i class="fa-solid fa-film me-2"></i>Anime</a></li>
    <li class="fs-6 col"><a href="{{ url_for('subforum_index', name='Tecnologia')}}"><i class="fa-solid fa-microchip me-2"></i>Tecnologia</a></li>
    <li class="fs-6 col"><a href="{{ url_for('subforum_index', name='Livros')}}"><i class="fa-solid fa-book me-2"></i>Livros</a></li>
    <li class="fs-6 col"><a href="{{ url_for('subforum_index', name='Politica')}}"><i class="fa-solid fa-landmark me-2"></i>Política</a></li>
    <li class="fs-6 col"><a href="{{ url_for('subforum_index', name='Ciência')}}"><i class="fa-solid fa-flask me-2"></i>Ciencia</a></li>
    <li class="fs-6 col"><a href="{{ url_for('subforum_index', name='Hentai')}}"><i class="fa-solid fa-ban me-2"></i>Hentai</a></li>
  </ul>
</nav>
<div>
  {{ content | safe }}
</div>
<!-- Modal Nova Thread -->
<button class="newThreadBtn" data-bs-toggle="modal" data-bs-target="#newThreadModal">
  <i class="fa-solid fa-plus fs-2"></i>
</button>
<!-- modal -->
<div class="modal fade" id="newThreadModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="newThreadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white fs-3">Nova Thread</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <form action="/Anime/newthread" id="newthread-form" method="POST" class="space-y-6" enctype="multipart/form-data">
        <div class="modal-body space-y-4">
          <div>
            <input name="title" type="text" placeholder="Titulo da Thread" required class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
          </div>
          <div>
            <textarea name="content" placeholder="Conteudo..." required rows="6" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 resize-none"></textarea>
          </div>
          <div>
            <label for="attachment" class="block text-sm font-medium text-gray-700">Anexar Arquivo</label>
            <input name="attachment" type="file" id="attachment" class="w-full text-sm text-gray-700 py-2 px-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 mt-2">
          </div>
        </div>

        <div class="modal-footer space-x-4">
          <button type="button" class="bg-gray-500 hover:bg-gray-400 text-white py-2 px-4 rounded-lg" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="submitModal hover:bg-indigo-600 text-white py-2 px-4 rounded-lg">
            Criar Thread
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
