{% extends "baseLayout.html" %}

{% block content %}
<div class="container-fluid m-0 p-0 row">
  <div class="sideBar col-2">
    <h5 class="mt-3">Sub-fórums</h5>
    <hr>
    <ul>
      <li>Games</li>
      <li>Anime</li>
      <li>Tecnologia</li>
      <li>Livros</li>
      <li>Política</li>
      <li>Ciencia</li>
      <li>Hentai</li>
      <li>{{ var }}</li>
    </ul>
  </div>
  <div class="feed col">
    {% for i in range(4) %}
      {% include "post.html" %}
    {% endfor %}
  </div>
</div>
{% endblock %}
