<div class="d-flex thread w-50 bg-white shadow-xl rounded-lg p-6 m-6 border border-gray-200">
  <div class="linha-conexao"><div class="fim-conexao"></div></div>
  {% if post.attachment != '' and post.attachment != None %}
  <img src="{{ url_for('static', filename=post.attachment) }}" class="w-1/4 mr-5 shadow-xl">
  {% endif %}
  <div class="flex-fill">
    <div class="mb-4 border-b pb-2 border-gray-200">
      <h3 class="text-xl font-semibold text-indigo-800">
        {% if linkable %}
        <a href="{{ url_for('thread', id=post.id) }}">
          <span class="text-gray-800">{{ post.user.username }}</span> - {{ post.title }}
        </a>
        {% else %}
        <span class="text-gray-800">{{ post.user.username }}</span> - {{ post.title }}
        {% endif %}
      </h3>
    </div>
    <div>
      <p class="text-gray-700 leading-relaxed mb-3">{{ post.content }}</p>
    </div>
    {% if current_user.is_authenticated%}
    <div class="mt-2 d-flex justify-content-end">
      <button class="row fs-4" type="button" data-bs-toggle="modal" data-bs-target="#newReplyModal"><i class="fa-solid fa-message"></i></button>
    </div>
    {% endif %}
  </div>
</div>
