<div hx-target="this" id="{{ post_html_id }}" class="card mb-4 px-0" style="max-width: 600px;">
  <div class="row g-0">
    {% if post.attachment != '' and post.attachment != None %}
      <div class="col-md-4">
        <a href="{{ url_for('static', filename=post.attachment) }}" target="_blank">
          <img src="{{ url_for('static', filename=post.attachment) }}" class="img-fluid rounded-start">
        </a>
      </div>
    <div class="col-md-8">
    {% else %}
    <div class="col-md-12">
    {% endif%}
    <div class="card-header">
      {% if linkable %}
      <a href="{{ url_for('thread', id=post.id) }}">
        {% endif %}
        <h1 class="text-gray-800 fs-5"><span class="text-violet-800 class">{{ post.user.username }} - </span>{{ post.title }}</h1>
        {% if linkable %}
      </a>
      {% endif %}
    </div>
    <div class="card-body">
    <p class="card-text">{{ post.content }}</p>
      </div>
    </div>
  </div>
  <div class="card-footer w-100 d-flex">
      <div class="d-flex justify-content-between flex-fill">
        <div class="p-auto">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
        {% if current_user.is_authenticated%}
        <!-- controles: editar e excluir -->
        <div class="flex">
          {% if current_user == post.user%}
          <button 
            class="btn btn-secondary d-flex align-items-center"
            style="background-color: #00000000; color: initial;"
            data-bs-toggle="modal" data-bs-target="#editModal">
            <i class="fa-solid fa-pen-to-square"></i> 
          </button>
          <!-- aciona a rota de excluirThread quando botao emitir o evento click. -->
          <!-- troca o outerHTML do elemento que e especificado pelo seletor em hx-target. -->
          <!-- como o servidor retorna uma string vazia, o elemento é deletado. -->
          <!-- não queria escrever javascript. -->
          <button
            hx-post="{{ url_for('excluirThread', id=post.id) }}"
            hx-trigger="click" hx-swap="outerHTML"
            class="btn btn-danger" type="submit" style="background-color: #00000000; color: initial;">
            <i class="fa-solid fa-trash-can" style="color: red;"></i>
          </button>
          {% endif %}
        </div>
      </div>
    {% endif %} 
  </div>
  <div id="linha-conexao"><div id="fim-conexao"></div></div>
</div>

<!-- Editar a Thread -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white fs-3">Editar a Thread</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <form id="newthread-form" method="POST" class="space-y-6" enctype="multipart/form-data" action="{{ url_for('editarThread', id=post.id) }}" >
        <div class="modal-body space-y-4">
          <div>
            <input name="title" type="text" placeholder="Novo Título da Thread" required class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
          </div>
          <div>
            <textarea name="content" placeholder="Novo Conteúdo..." required rows="6" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 resize-none"></textarea>
          </div>
          <div>
            <label for="attachment" class="block text-sm font-medium text-gray-700">Anexar Arquivo</label>
            <input name="attachment" type="file" id="attachment" class="w-full text-sm text-gray-700 py-2 px-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 mt-2">
          </div>
        </div>

        <div class="modal-footer space-x-4">
          <button type="button" class="bg-gray-500 hover:bg-gray-400 text-white py-2 px-4 rounded-lg" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="submitModal hover:bg-indigo-600 text-white py-2 px-4 rounded-lg">
            Salvar Edição
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
